#board {
    margin: 0 auto;
    border: 1px solid #000;
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}