
.cell {
	width:15px;
	height: 15px;
	border: 1px solid #d0d0d0;
	display:inline-block;
	line-height: 10px;
	text-align: center;
	vertical-align: middle;
}
/*
.row {
	border: 1px solid red;
}*/

.endgame {
	background: red;
}

.o {
	background: #303030;
}

.x {
	background: orange;
}

.c {
	background: inherit;

}