.cell {
	width:15px;
	height: 15px;
	border: 1.5px solid black;
	/*float:left;*/
	display:inline-block;
	/*ont-family: arial, sans-serif;*/
	line-height: 10px;
	text-align: center;
	vertical-align: middle;

}